<br><br><br><br>
<mat-card id="main-card">
<img id="main-back2" src="../../assets/img/back.png"/>
</mat-card>
<br><br><br><br>
<mat-card id="main-card2">
  <h4 id="main-home">¿Por que lo desarollamos?</h4><br>
  <h4 id="main-home">En repetidas ocasiones hemos escuchado que el papel, el bolígrafo, y herramientas de escritura figuran en las listas de los inventos más trascendentes en la historia de la humanidad. Hoy en día, con las posibilidades que ofrece la tecnología, buscamos poner al alcance de muchos más este conocimiento. Ofrecemos al escritor principiante una pauta para que pueda crear sus propias obras.</h4>
</mat-card>
<br><br>
