<br><br>
<app-tabla-score></app-tabla-score>
<br><br>
<mat-card id="main-card">
  Ensayo<br><br>
  <form (ngSubmit)="submitEnsayo()">
    <mat-form-field id="main-input">
      <textarea name="titulo" [(ngModel)]="ensayo.obra.titulo" matInput placeholder="Titulo" ></textarea>
      <mat-hint align="start"><strong>Ingresa un Titulo</strong> </mat-hint>
    </mat-form-field>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="introduccion" [(ngModel)]="ensayo.introduccion" matInput placeholder="Introduccion" ></textarea>
      <mat-hint align="start"><strong>Introduce una introduccion</strong> </mat-hint>
    </mat-form-field>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="desarrollo" [(ngModel)]="ensayo.desarrollo" matInput placeholder="Desarollo" ></textarea>
      <mat-hint align="start"><strong>Escribe tu articulo.ts</strong> </mat-hint>
    </mat-form-field>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="conclusion" [(ngModel)]="ensayo.conclusion" matInput placeholder="Conclusion" ></textarea>
      <mat-hint align="start"><strong>Dale un cierre a tu articulo</strong> </mat-hint>
    </mat-form-field>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="referencia" [(ngModel)]="ensayo.referencia" matInput placeholder="Referencia" ></textarea>
      <mat-hint align="start"><strong>Ingresa tus referencias</strong> </mat-hint>
    </mat-form-field><br><br>
    <button mat-raised-button id="main-button">Crear</button><br><br>
  </form>
</mat-card>

<br><br>
