<br><br>
<mat-card id="main-card">
  <h1>Registro</h1>
  <br><br>
  <form (ngSubmit)="submitRegistro()">
    <mat-form-field hintLabel="Max 10 characters">
      <input name="usuario" [(ngModel)]="usuario.usuario" matInput #input maxlength="10" placeholder="Ingrese su nuevo usuario">
      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field><br><br>
    <br><br>
    <mat-form-field>
      <input name="contrasena" [(ngModel)]="usuario.contrasena" matInput placeholder="Ingresa tu nueva contraseña" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon><br><br>
    </mat-form-field>
    <br><br>
    <mat-form-field>
      <input matInput placeholder="Confirma tu contraseña" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon><br><br>
    </mat-form-field>
    <br><br>
    <p>Select Event: {{fileSelectMsg}}</p>
    <p>Upload Event: {{fileUploadMsg}}</p>
    <td-file-upload (change)="aiuda($event)" #singleFileUpload name="files" [(ngModel)]="files" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" [disabled]="disabled" required>
      <mat-icon>file_upload</mat-icon><span>{{ singleFileUpload.value?.name }}</span>
      <ng-template td-file-input-label>
        <mat-icon>attach_file</mat-icon>
        <span>
        Elige una imagen
        </span>
        <span [hidden]="!singleFileUpload?.required">*</span>
      </ng-template>
    </td-file-upload>
      <br><br><button mat-raised-button id="main-button">Registrarse</button>
  </form>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  <img [src]="croppedImage" width="200px" height="200px" />
</mat-card>

