<br><br>
<mat-card id="main-card">
  <h1>Mis Obras</h1>
  <p>Modifica tus obras, mejóralas, guárdalas, todo eso lo puedes hacer aquí.
  <p>Da click en la obra a modificar para abrirla:
</mat-card>
<br><br>
<mat-card id="main-card2">
<h2 id="main-letter">Mis Obras</h2>
<ng-container *ngFor="let obra of obras">
  <mat-card id="main-card3">
    {{obra.titulo}}<mat-icon id="main-right" onclick="pdf.create">
    description
  </mat-icon>
    <img routerLink="/Resumen" src="../../assets/img/plantilla.png"/>
  </mat-card>
  &nbsp;&nbsp;
</ng-container>
  <br><br><br><br><br><br><br>  <br><br><br><br><br><br><br>  <br><br><br><br><br><br><br>
</mat-card>
