<br><br>
<mat-card id="main-card">
  <h1>Crea</h1>
  <p>Realiza todos los escritos que imagines, cuenta tus historias, obtén un diez en tu ensayo.
  <p>Para comenzar, elige una plantilla o usa un lienzo en blanco:
</mat-card>
<br><br>
<mat-card id="main-card2">
  <h2 id="main-letter">Textos Literarios</h2>
  <mat-card id="main-card3">
    Articulo Cientifico
  </mat-card>
  <mat-card id="main-card4">
    Resumen Cientifico
  </mat-card>
</mat-card>
<br><br>
<mat-card id="main-card2">
  <h2 id="main-letter">Textos Cientificos</h2>
  <mat-card id="main-card3">
    Dramatico
  </mat-card>
  <mat-card id="main-card4">
    Lirico
  </mat-card>
  <mat-card id="main-card6">
    Narrativo
  </mat-card>
</mat-card>
<br><br>
<mat-card id="main-card2">
<h2 id="main-letter">Otros</h2>
<mat-card id="main-card3">
  Lienzo
</mat-card>
<mat-card id="main-card4">
  Ensayo
</mat-card>
</mat-card>
