<div id="main-menu">
      <br>
      <a routerLink="/Home"><img src="../../assets/img/logo.png" id="main-logo"/></a>
      <button *ngIf="isLogged" mat-button routerLink="/Home">Home</button>
      <button *ngIf="isLogged" mat-button routerLink="/Ajustes">Ajustes</button>
      <button *ngIf="isLogged" mat-button routerLink="/Crear">Crear</button>
      <button *ngIf="isLogged" mat-button routerLink="/Evolucion">Evolución</button>
      <button *ngIf="isLogged"  mat-button routerLink="/MisObras">Mis obras</button>
      <button *ngIf="!isLogged" mat-button routerLink="/Registro">Registro</button>
      <button *ngIf="!isLogged" mat-button routerLink="/Login">Login</button>
</div>
