<br><br>
<app-tabla-score></app-tabla-score>
<br><br>
<mat-card id="main-card">
  <h1>Articulo</h1><br><br>
  <form (ngSubmit)="submitArticulo()">
    <mat-form-field id="main-input">
      <textarea name="titulo" [(ngModel)]="articulo.obra.titulo" matInput placeholder="Titulo" ></textarea>
      <mat-hint align="start"><strong>Ingresa un Titulo</strong> </mat-hint>
    </mat-form-field>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="resumen" [(ngModel)]="articulo.resumen" matInput placeholder="Resumen" ></textarea>
      <mat-hint align="start"><strong>Introduce un resumen</strong> </mat-hint>
    </mat-form-field>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="autores" [(ngModel)]="articulo.autores" matInput placeholder="Autores" ></textarea>
      <mat-hint align="start"><strong>Introduce los autores</strong> </mat-hint>
    </mat-form-field>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="materiales" [(ngModel)]="articulo.materiales" matInput placeholder="Materiales" ></textarea>
      <mat-hint align="start"><strong>Escribe los materiales requeridos</strong> </mat-hint>
    </mat-form-field>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="metodos" [(ngModel)]="articulo.metodos" matInput placeholder="Metodos" ></textarea>
      <mat-hint align="start"><strong>Escribe los metodos</strong> </mat-hint>
    </mat-form-field>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="resultados" [(ngModel)]="articulo.resultados" matInput placeholder="Resultados" ></textarea>
      <mat-hint align="start"><strong>Ingresa tus resultados</strong> </mat-hint>
    </mat-form-field><br><br>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="discusiones" [(ngModel)]="articulo.discusiones" matInput placeholder="Discusiones" ></textarea>
      <mat-hint align="start"><strong>Comenta tus dicusiones</strong> </mat-hint>
    </mat-form-field><br><br>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="conclusiones" [(ngModel)]="articulo.conclusiones" matInput placeholder="Conclusiones" ></textarea>
      <mat-hint align="start"><strong>Ingresa tus conclusiones</strong> </mat-hint>
    </mat-form-field><br><br>
    <br><br><br><br>
    <mat-form-field id="main-input">
      <textarea name="referencia" [(ngModel)]="articulo.referencia" matInput placeholder="Referencia" ></textarea>
      <mat-hint align="start"><strong>Ingresa tus referencias</strong> </mat-hint>
    </mat-form-field><br><br>
    <button mat-raised-button id="main-button">Crear</button><br><br>
  </form>
</mat-card>

<br><br>

