<br><br><br><br>
<mat-card id="main-card">
  <mat-form-field id="main-input">
    <textarea matInput placeholder="Titulo" ></textarea>
    <mat-hint align="start"><strong>Ingresa un Titulo</strong> </mat-hint>
  </mat-form-field>
  <br><br><br><br>
  <mat-form-field id="main-input">
  <textarea matInput placeholder="Introduccion" ></textarea>
    <mat-hint align="start"><strong>Introduce una introduccion</strong> </mat-hint>
  </mat-form-field>
  <br><br><br><br>
  <mat-form-field id="main-input">
  <textarea matInput placeholder="Desarollo" ></textarea>
    <mat-hint align="start"><strong>Escribe tu articulo.ts</strong> </mat-hint>
  </mat-form-field>
  <br><br><br><br>
  <mat-form-field id="main-input">
  <textarea matInput placeholder="Conclusion" ></textarea>
    <mat-hint align="start"><strong>Dale un cierre a tu articulo.ts</strong> </mat-hint>
  </mat-form-field>
  <br><br><br><br>
  <mat-form-field id="main-input">
  <textarea matInput placeholder="Referencia" ></textarea>
    <mat-hint align="start"><strong>Ingresa tus referencias</strong> </mat-hint>
  </mat-form-field><br><br>
    <button mat-raised-button id="main-button">Crear</button><br><br>
</mat-card>
<br><br>
